:root {
  --green-color : #0AA36E;
  --red-color : #EF4444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-shadow: 0 0 16px 0 #D9D9D9;
}h1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  color: var(--green-color);
}

.logout button{
  width: 46px;
  height: 46px;
  background-color: var(--red-color);
  border: none;
  border-radius: 10px;
  padding: 6px;
}.my-bi{
  color: white;
  font-size: 28px;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.logout button:hover{
  background-color: black;
  cursor: pointer;
}

/* Media Query for smaller devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .header{
    padding: 0 25px;
  }
  .logout button {
    width: 34px;
    height: 34px;
  }
  .my-bi {
    font-size: 19px;
    color: white;
  }
}